<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Motorhome details</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Rentals
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/rentaloverview">Rental Overview</a>
            <a href="/carsearch">Search For Motorhome And Create Rental Agreement</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Employees
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/employees">Employee Overview</a>
            <a href="/createemployee">Create New Employee</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Customers
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/customers">Customer Overview</a>
            <a href="/createcustomer">Create new Customer</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Motorhomes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/motorhomeoverview">Motorhome Overview</a>
            <a href="/createmotorhome">Create a new Motorhome Model</a>
            <a href="/addtofleet">Add An Available Motorhome To Selection</a>
        </div>
    </div>
</div>

<div class="container">
    <h1>Details</h1>

    <p>Id: <span th:text="${motor.motorhomeId}"></span> </p>

    <p>Amount Of Beds: <span th:text="${motor.maxSeats}"></span></p>

    <p>Price Per Day: <span th:text="${motor.pricePerDay}"></span> </p>

    <p>Model: <span th:text="${motor.modelName}"></span> </p>

</div>
</body>
</html>