<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental overview</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Rentals
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/rentaloverview">Rental Overview</a>
            <a href="/carsearch">Search For Motorhome And Create Rental Agreement</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Employees
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/employees">Employee Overview</a>
            <a href="/createemployee">Create New Employee</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Customers
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/customers">Customer Overview</a>
            <a href="/createcustomer">Create new Customer</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Motorhomes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/motorhomeoverview">Motorhome Overview</a>
            <a href="/createmotorhome">Create a new Motorhome Model</a>
            <a href="/addtofleet">Add An Available Motorhome To Selection</a>
        </div>
    </div>
</div>

<div class="container">
    <h1>Rentals</h1>
    <table>
        <tr>
            <th>Motorhome ID</th>
            <th>Rental ID</th>
            <th>Customer First Name</th>
            <th>Customer Last Name</th>
            <th>Start Date</th>
            <th>End Dato</th>
            <th>Number Of Days</th>
            <th>Price Per Day</th>
            <th>Total Price</th>
        </tr>
        <tr th:each="rental : ${rentals}">
            <td th:text="${rental.motorhomeId}"></td>
            <td th:text="${rental.rentalId}"></td>
           <td th:text="${rental.customerFirstName}"></td>
            <td th:text="${rental.customerLastName}"></td>
            <td th:text="${rental.pickupDate}"></td>
            <td th:text="${rental.endDate}"></td>
            <td th:text="${rental.totalDays}"></td>
            <td th:text="${rental.pricePerDay}"></td>
            <td th:text="${rental.totalPrice}"></td>
            <td><a th:href="@{/individualpriceoverview(rentalId=${rental.rentalId})}"><button class="btn btn-details"> See And Calculate Individual Prices</button></a></th>
            <td><a th:href="@{/updatepayment(rentalId=${rental.rentalId})}"><button class="btn btn-details"> Update Already Calculated Prices </button></a></th>
            <td><a th:href="@{/deleterentalandpayment(rentalId=${rental.rentalId})}"><button class="btn btn-details"> Delete Rental And Payment Contracts </button></a></th>
        </tr>
    </table>
</div>
</body>
</html>