<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Drop off Price</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Rentals
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/rentaloverview">Rental Overview</a>
            <a href="/carsearch">Search For Motorhome And Create Rental Agreement</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Employees
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/employees">Employee Overview</a>
            <a href="/createemployee">Create New Employee</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Customers
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/customers">Customer Overview</a>
            <a href="/createcustomer">Create new Customer</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Motorhomes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/motorhomeoverview">Motorhome Overview</a>
            <a href="/createmotorhome">Create a new Motorhome Model</a>
            <a href="/addtofleet">Add An Available Motorhome To Selection</a>
        </div>
    </div>
</div>

<div class="container">
    <h1>Dropoff Price</h1>
    <form action="/dropoffcalculated" method="post"> <!-- dette sker når vi klikker på submit (action)-->

        <label for="rentalId">Rental ID:</label><br>
        <input type="text" name="rentalId" id="rentalId" th:value="${rentalid}">
        <br>
        <label for="kilometersDriven">Amount Of Kilometers To Dropoff Location:</label><br>
        <input type="number" name="kilometersDriven" id="kilometersDriven"  >
        <br>
        <button type="submit" name="submit" button class="btn btn-create">Calculate</button>
    </form>
</div>
</body>
</html>