<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Rentals
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/rentaloverview">Rental Overview</a>
            <a href="/carsearch">Search For Motorhome And Create Rental Agreement</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Employees
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/employees">Employee Overview</a>
            <a href="/createemployee">Create New Employee</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Customers
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/customers">Customer Overview</a>
            <a href="/createcustomer">Create new Customer</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Motorhomes
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/motorhomeoverview">Motorhome Overview</a>
            <a href="/createmotorhome">Create a new Motorhome Model</a>
            <a href="/addtofleet">Add An Available Motorhome To Selection</a>
        </div>
    </div>
</div>

<div class="container">
    <form action="/updatedemployee" method="post">
        <label for="employeeId">ID</label>
        <input type="employeeId" name="employeeId" id="employeeId" th:value="${ansat.employeeId}" readonly>
        <br>
        <label for="employeeFirstName">First Name</label>
        <input type="text" name="employeeFirstName" id="employeeFirstName" th:value="${ansat.employeeFirstName}">
        <br>
        <label for="employeeLastName">Surname</label>
        <input type="text" name="employeeLastName" id="employeeLastName" th:value="${ansat.employeeLastName}">
        <br>
        <label for="employeeBirthday">Birthday:</label>
        <input type="text" name="employeeBirthday" id="employeeBirthday" th:value="${ansat.employeeBirthday}" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])">
        <br>
        <label for="employeeEmail">Email</label>
        <input type="email" name="employeeEmail" id="employeeEmail" th:value="${ansat.employeeEmail}">
        <br>
        <label for="employeeJob">Job:</label>
        <input type="text" name="employeeJob" id="employeeJob" th:value="${ansat.employeeJob}">
        <br>

        <button type="submit" name="submit" button class="btn btn-create">Update</button>
    </form>
</div>
</body>
</html>